__pycache__/

venv/
.vscode/

*.log
*.tmp

brisc2025/



data/processed/segmentation
data/processed/test
data/processed/train
models/



results/attention_unet_results.png
results/CHECKLIST.txt
results/dataset_summary.txt
results/separate_vs_joint_analysis.txt
results/training_log.txt
results/unet-joint_metrics.png
results/unet-classification_results.png
results/unet_segmentation_metrics.png
results/unet_segmentation_metrics.png



cuda.py
generate_presentation_data.py

